<?php
/*foreach($this->user as $user) { */?><!--
    Name: <?php /*echo $user->username; */?>
    Level: <?php /*echo $user->level; */?><br>
<?php /*} */?>



<?php
/*foreach($this->user2 as $user) { */?>
    Name2: <?php /*echo $user->username; */?>
    Level2: <?php /*echo $user->level; */?><br>
--><?php /*} */?>


<table>
<tr>
    <td>User Id</td>
    <td>Username</td>
    <td>Level</td>
</tr>
<?php
foreach($this->data as $item)
{
    echo "<tr>";
    echo "<td align='center'>".$item['id']."</td>";
    echo "<td align='center'>".$item['username']."</td>";

    if($item['level'] == 1){
        echo "<td align='center'>Member</td>";
    }else{
        echo "<td align='center'><font color='red'>Admin</font></td>";
    }
    echo "</tr>";
}
?>
</table>
<?php
       echo $this->paginationControl($this->data, 'Sliding' , 'user/pagination.phtml');
?>